.full-width-banner {
	position: relative;

	banner-background-wrapper {
		height: 330px;
		overflow: hidden;
	}

	.banner-background-image {
		width: 100%;
	}

	.banner-content {
		position: absolute;
		top: 0;
		left: 0;

		@include susy-media($bp-screen-lg) {
			left: calc( (100% - 73.125rem) / 2);
		}
	}
}
